---
export const prerender = true;

import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectsPage from '../components/react/projects/page';
---

<BaseLayout title="damon | projects" description="some of the things I have worked on via github" ogImage="/projects.png">
  <main class="max-w-3xl mx-auto py-12 px-8 pb-20 animate-fade-in">
    <ProjectsPage client:load />
  </main>
</BaseLayout>
