---
import FooterLinks from './react/FooterLinks';
const { pathname } = Astro.props;
const isHome = pathname === '/' || pathname === '';
---

{!isHome && (
  <footer class="fixed bottom-0 left-0 right-0 p-4 bg-background">
    <div class="max-w-3xl mx-auto">
      <FooterLinks client:idle />
    </div>
  </footer>
)}
