---
import ModeSwitch from './react/theme/switch';

const { pathname } = Astro.props;
const isHome = pathname === '/' || pathname === '';
---

<nav class="flex justify-between items-center p-4">
  {!isHome && (
    <a href="/" class="text-base font-light tracking-tight">damon</a>
  )}
  <div class="flex-1" />
  <ModeSwitch client:load />
</nav>
