---
import ModeSwitch from './react/ModeSwitch';

const { pathname } = Astro.props;
const isHome = pathname === '/' || pathname === '';
---

<nav class="flex justify-between p-5">
  {
    !isHome && (
      <a class="text-2xl italic" href="/">damon</a>
    )
  }
  {!isHome && <div class="flex-1" />}
  <ModeSwitch client:load />
</nav>
